<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add CPE Item</title>
    {{ form.media.css }}
</head>
<body>
<h1>Add CPE Item to a dictionary</h1>
<form action="{% url 'item-create' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add Item">
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
</body>
</html>
