<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extended CPE Dictionary</title>
</head>
<body>
    <h1>Extended CPE Dictionary</h1>
    <p>Dictionary Curation:</p>
    <a href="{% url 'item-create' %}">Add CPE Item</a>
    <br><br>
    <a href="{% url 'item-deprecate' %}">Deprecate CPE Item</a>
    <p>Administration:</p>
    <a href="admin/">Go to Admin Panel</a>
    <p>API:</p>
    <a href="api/v1/">API Root Endpoint</a>
</body>
</html>